@font-face {
    font-family: 'PT Sans', Tahoma, Helvetica, sans-serif;
    src: url(https://cdn.imgchest.com/files/myd5cr2k54b.png);
}

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/j7mmcrexg76.png);
    background-repeat: no-repeat;
    max-width: 1170px;
    min-height: 752px;
    font-size: 2rem;
    color: blue;
 
}
.container {
    display: grid;
    grid-template-rows:
    minmax(35px, auto) minmax(73px, auto) minmax(101px, auto) minmax(530px, auto);
    grid-template-areas: 
    "one one one one"
   "two five five six"
   "three three three three"
   "four four seven seven";

   grid-template-columns: minmax(20px,101px) minmax(20px,390px) minmax(20px,458px) ; 

  
}
.container > * {
    border: 2px dashed blue;
}
.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3{
    grid-area: three;
}

.box4 {
    width: 491px;
}
.News {
    margin-bottom: 15px;
    padding: 0;
}

.news_articles {
    list-style: none;
    margin: 0;
    padding: 0;
}

.news_articles li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.news_articles li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.Media {
    margin-right: 10px;
}

.Media img {
    width: 80px;
    height: 80px;
}

.Media.heading {
    font-weight: bold;
}

.Media2 {
    margin-right: 10px;
}

.Media2 img {
    width: 80px;
    height: 80px;
}

.Media.heading2 {
    font-weight: bold;
}

.Media3 {
    margin-right: 10px;
}

.Media3 img {
    width: 80px;
    height: 80px;
}

.Media3 p {
    font-weight: bold;
}
.box5{
    grid-area: five;
}
.box5{

}
ul { 
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    font-family: 'PT Sans', Tahoma, Helvetica, sans-serif;
    font-weight: 400;
    flex-wrap:wrap;
    color: #FFFFFF;
    list-style:none;
    background-color:#FFFFFF;;
}
.air{
    flex-basis: 105px;
}
.fli{
    flex-basis: 93px;
}
.DES{
    flex-basis: 66px;
}
.IS{
    flex-basis: 105px;
}
.KAR{
    flex-basis: 97px;
}
.BAT{
    flex-basis: 141px;
}
.box6{
    grid-area: six;
}
.box7{
    grid-area: seven;
}

@media (max-width: 500px) {
.container{
    grid-template-columns: 100%;
    
    grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven";
}
}
